<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/based::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="card text-center mr-4">
			<div class="card-body">
				<h1>Your Contacts</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCM2020'+c.cId}">1</th>
							<td><img src="" th:src="@{'/img/'+${c.image}}"
								class="my_profile_pic" alt="profile display image" /> <span
								th:text="${c.name}"></span></td>
							<td><a href="" th:href="@{'/user/contact/'+${c.cId}}">
									<span th:text="${c.email}"></span>
							</a></td>
							<td th:text="${c.phone}"></td>
							<td><a th:href="@{'/user/delete/'+${c.cId}}"
								class="btn btn-danger btn-small">Delete</a>
								<form method="post"
									th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
									<button th:href="@{'/user/update-contact/'+${c.cId}}"
										class="btn btn-success btn-small">Update</button>
								</form> <!--  -   <a th:href="@{'/user/update-contact/'+${c.cId}}"  class="btn btn-success btn-small">Update</a>-->

							</td>
						</tr>

					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage-1==0}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>
						<li th:if="${currentPage+1 !=totalPages}" class="page-item"><a
							th:href="@{'/user/show-contacts/'+${currentPage+1}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>
</body>
</html>