<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/based::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="title">Document</title>
</head>
<body>
	<section>


		<div class="card mr-3">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offdet-md-1">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/process-update}" class="mt-2">

								<input type="hidden" th:value="${contact.cId}" name="cId" />

								<!-- First Name -->

								<div class="input-group">

									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus"></i>
										</div>
									</div>

									<input th:value="${contact.name}" type="text" id="firstname"
										name="name" placeholder="Enter Your Name Here"
										class="form-control" />
								</div>
								<!-- Last Name -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>

									<input th:value="${contact.lastName}" type="text" id="lastname"
										name="lastName" placeholder="Enter Your Last Name Here"
										class="form-control" />
								</div>
								<!-- Phone -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone"></i>
										</div>
									</div>

									<input th:value="${contact.phone}" type="number" id="phone"
										name="phone" placeholder="Enter Your phone Number Here"
										class="form-control" />
								</div>
								<!-- Email -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text mr-3">@</div>
									</div>

									<input th:value="${contact.email}" type="email" id="email"
										name="email" placeholder="Enter Your Email Here"
										class="form-control" />
								</div>

								<!-- Work -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>

									<input th:value="${contact.work}" type="text" id="work"
										name="work" placeholder="Enter Your work Here"
										class="form-control" />
								</div>

								<!-- Contact Description -->

								<div class="form-group mt-3">
									<textarea th:text="${contact.description}" id="mytextarea"
										name="description" class="form-control"
										placeholder="Enter Your Contact Description Here" rows="10"></textarea>
								</div>


								<!-- Contact Image -->

								<div class="container text-center">
									<img class="my_profile_pic img-fluid"
										style="height: 250px; width: 250px;" src=""
										th:src="@{'/img/'+${contact.image}}" alt="" />
								</div>

								<div class="custom-file">
									<input type="file" name="profileImage" />
								</div>

								<div class="container text-center">
									<button class="btn btn-outline-primary">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

	</section>
</body>
</html>